body {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8em;
    background-color: #000;
}

#wrapper {
    position: fixed;
    overflow: auto;
    color: #FFF;
    padding: 10vw 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

#wrapper div {
    padding: 0 10vw;
}

p {
    margin: 0;
}

input[type="text"] {
    width: 100%;
    height: 1em;
    margin: 20px 0;
    font-size: 0.8em;
    color: #bbb;
}

input[type="checkbox"] {
    margin: 0 20px;
    -ms-transform: scale(4);
    /* IE */
    -moz-transform: scale(4);
    /* FF */
    -webkit-transform: scale(4);
    /* Safari and Chrome */
    -o-transform: scale(4);
    /* Opera */
}

button {
    position: fixed;
    color: #FFF;
    font-weight: bold;
    font-size: 1em;
    border: 0;
}

button.next {
    bottom: 5vw;
    right: 5vw;
}

button.prev {
    bottom: 5vw;
    left: 5vw;
}


button span {
    font-size: 0.4em;
}

.yellow {
    color: #FBA819;
}

.ltgrey {
    color: #C7CCD0;
}

.dkblue {
    color: #213444;
}

.ltblue {
    color: #35C9C5;
}

.white {
    color: #FFFFFF;
}

.start-cont {
    background-color: #213444;
    text-transform: uppercase;
}

.survey,
.survey button {
    background-color: #3a59f3;
}

ul {
    padding: 0;
    list-style: none;
}

.survey .interest li {
    font-size: 0.5em;
    margin: 2em 0 0 0;
}

.survey .interest li input[type="checkbox"] {
    position: relative;
    top: -1em;
    width: 3em;
}

#pluggin {
    margin: 20vw 0 0 0;
}

.find-squad,
.find-squad button {
    background-color: #FBA819;
}

.questions,
.questions button {
    background-color: #35C9C5;
}

.questions p {
    font-size: 0.5em;
    margin: 0 0 0.5em 0;
}

.questions p:first-child {
    font-size: 1em;
}
